<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
    .circle {
       fill: #1da1f2;
    }
    .card {
        fill: white;
        stroke: #6E7B8B;
    }
    #graph .axis path {
        fill: none;
        stroke:#6E7B8B;
    }

    #graph .axis line {
        stroke: #6E7B8B;
        stroke-width: 2px;
    }

    #graph path {
        fill: none;
        stroke: #6abef1;
        stroke-width: 2px;
    }
    .hover-line {
        stroke: #6E7B8B;
        text-align: center;
    }

    div.tooltip {
        border: solid;
        border-color: #6E7B8B;
        border-width: 1px;
        position: absolute;
        text-align: left;
        padding: 10px;
        background: white;
        border-radius: 8px;
        pointer-events: none;
    }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <nav class="navbar navbar-light" style="background-color: #1da1f2">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: white; text-align: center; width: 100%;" href="/">Tweetivity</a>
        </div>
    </nav>
</head>
<body>
    <div class="container">
        <div class="col-md-8">
            <h1>Active Followers of @{{name}}</h1>
            <div id="graphDiv"></div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">Whoa man</button>
        </div>
    </div>

    
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
        var hoursData = JSON.parse({{data|tojson}})

        console.log(JSON.parse({{data|tojson}}))

        var y_label = "";
        var width = 1000;
        var height = 500;
        var padding = 50;
        var margin = 50;

        var ticks = 10

        var x = d3.scale.linear().domain([0,23]).range([0,width])
        var y = d3.scale.linear().domain([0,Math.max.apply(Math, hoursData) + 5]).range([height,0])

        var xAxis = d3.svg.axis().scale(x)
            .orient("bottom").ticks(25)
            .tickFormat(function (d, i) {if (i == 0) return "12 AM"; else if (i < 12) return (i) + " AM";  else if (i == 12) return i + " PM"; else return (i - 12) + " PM" });

        var yAxis = d3.svg.axis().scale(y)
            .orient("left").ticks(ticks);

        var graphDiv = d3.select("#graphDiv")

        var svg = graphDiv.append("svg")
            .attr("width", width + padding + margin)
            .attr("height", height + padding)
            .attr("id", "graph")


        var hoverLineGroup = svg.append("g")
            .attr("class", "hover-line");

        var hoverLine = hoverLineGroup
            .append("line")
            .attr("x1", margin).attr("x2", margin)
            .attr("y1", 0).attr("y2", height)

        svg.append("g")
            .attr("class", "axis")
            .attr("transform", "translate(" + padding + "," + height + ")")
            .call(xAxis)

        //Labels
        svg.append("text")
            .attr("transform", "translate(" + width/2 + "," + (height + margin) +")")
            .text("Hours");
        
        //Labels
        svg.append("text")
            .attr("x", 0 - height/2)
            .attr("y", 0 + padding/2 - 15)
            .attr("transform", "rotate(-90)")
            .text("Active Users");

        svg.append("g")
            .attr("class", "axis")
            .attr("transform", "translate(" + padding + ", 0)")
            .call(yAxis)

        var line = d3.svg.line()
            .x(function(d, i) { return x(i)})
            .y(function(d) {console.log(d); return y(d)})

        svg.append("path")
            .attr("fill", "none")
            .attr("d", line(hoursData))
            .attr("transform", "translate(" + padding + "," + "0)")

        var circles = svg.selectAll("circle")
            .data(hoursData)
            .enter().append("g")

        var div = graphDiv.append("div").attr("class", "tooltip");

        var onCircleHovered = function(d, i)
        {
            div.transition()
                .duration(200)
                .style("opacity", 1);
            div.html("<span class='glyphicon glyphicon-user'></span> " + d + " Active Users")
                .attr("class", "tooltip")
                .style("left", (x(i) + padding) + "px")
                .style("top", (y(d) - 10) + "px" )
        }


        
        var onCircleLeave = function(d, i)
        {
            div.transition().duration(500).style("opacity", 0);
        }

        circles
            .append("circle")
            .attr("class", "circle")
            .attr("r", 9)
            .attr("cx", function(d, i) { return x(i) + padding })
            .attr("cy", function(d, i) { return y(d) })
            .on("mouseover", onCircleHovered)
            .on("mouseleave", onCircleLeave)
        


        circles.append("rect")
            .attr("class", "card hide")
            .attr("id", function(d, i) { return i + "-card"})
            .attr("x", function(d, i) { return x(i) + padding - (120/2)} )
            .attr("y", function(d) { return y(d) - (70/2) - 50 } )
            .attr("rx", "10")
            .attr("ry", "10")
            .attr("height", "70px")
            .attr("width", "120px")
            .text("lmao")
        
        circles.append("text")
            .attr("class", "glyphicon glyphicon-user hide")
            .attr("id", function(d, i) { return i + "-text"})
            .attr("x", function(d, i) { return x(i) + padding - (120/2) + 10} )
            .attr("y", function(d) { return y(d) - (70/2) - 30} )
            .attr("height", "70px")
            .attr("width", "120px")
            .text(function (d) { return d + "active followers"})


        var onMouseHover = function(event)
        {
            //var mouseX = event.pageX - width/2 - margin - margin
            var mouseX = event.pageX - $('#graph').offset().left
            var mouseY = event.pageY

            if (mouseX < margin || mouseX > width + margin)
            {
                hoverLine.classed("hide", true);
            }
            else
            {
                hoverLine.classed("hide", false);
            }

            hoverLine.attr("x1", mouseX).attr("x2", mouseX)
        }

        var onMouseEnter = function(event)
        {
            hoverLine.classed("hide", false);
        }

        var onMouseExit = function(event)
        {
            hoverLine.classed("hide", true);
        }

 
        $('#graph').mouseenter(function(event){onMouseEnter(event);})
        $('#graph').mousemove(function(event){onMouseHover(event);})
        $('#graph').mouseleave(function(event){onMouseExit(event);})
    </script>
</body>
</html>