<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
    .circle {
       fill: #222;
    }
    </style>
</head>
<body>
    <div id="graphDiv"></div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
        var hoursData = [24,21,22,20,13,14,15,17,19,1,2,3,4,5,2,3,4,5,6,7,23,1,12,16]

        var x = d3.scale.linear().domain([0,23]).range([0,700])
        var y = d3.scale.linear().domain([0,25]).range([800,0])

        var xAxis = d3.svg.axis().scale(x)
            .orient("bottom").ticks(25)
            .tickFormat(function (d, i) {return i});

        var yAxis = d3.svg.axis().scale(y)
            .orient("left").ticks(50);

        var svg = d3.select("#graphDiv").append("svg")
            .attr("width", 1000)
            .attr("height", 1000)

        svg.append("g")
            .attr("class", "axis")
            .attr("transform", "translate(" + 55 + ", 800)")
            .call(xAxis)

        svg.append("g")
            .attr("class", "axis")
            .attr("transform", "translate(" + 50 + ", 0)")
            .call(yAxis)

        var line = d3.svg.line()
            .x(function(d, i) { return x(i)})
            .y(function(d) {console.log(d); return y(d)})
            //.defined(function(d) {console.log(d)})

        svg.append("path")
            .attr("stroke", "blue")
            .attr("fill", "none")
            .attr("d", line(hoursData))
            .attr("transform", "translate(55,0)")

        svg.selectAll("circle")
            .data(hoursData)
            .enter()
            .append("circle")
            .attr("class", "circle")
            .attr("r", 3.5)
            .attr("cx", function(d, i) { return x(i) + 55 })
            .attr("cy", function(d, i) { return y(d) })
        
    </script>
</body>
</html>